.tracker-title {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    width: 75%;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    width: 75%;
}

.navbar-toggler, .navbar-toggler-icon {
    color: red;
}

.nav-link {
    color: black;
}

#page-1-dropdown {
    color: red;
}

#page-1-dropdown-menu {
    background-color: lightblue;
}

@media only screen and (max-width:530px) {
   #homework-tracker {display: block};
}
    


