.Navigation {
    background-color: lightskyblue
}

.myHeader {
    height: 400px;
    background-color: purple
}

.headingOne {
    text-align: center;
    color:aqua
}

.myParagraph {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.specialText {
    color: orange
}

.firstTable-row {
    font-size: 30px
}